{% extends 'base.html' %} {% block title %}
<title>Login</title>
{% endblock title %} {% block content %}
		<main>
			<div>
				<h1>Login</h1>
				<form method="post">
					{% csrf_token %}<!--{{form.as_p}}-->
                    Username: <input type ="text" name="username"></input><br><br>
                    Password: <input type ="password" name="password"></input><br>
					<p><button type="submit">Login</button></p>
				</form>
			</div>
		</main>
{% endblock content %}